@charset "UTF-8";

.head-title h1 {
	color: #666;
	font-size: 1.9em;
	margin: 80px 0;
	text-align: center;
}

.search {
	border-top: 1px solid #999;
	padding: 20px 0;
}

.search #list_search {
	float: right;
}

.search #list_search div {
	float: left;
}

.search #list_search #list_search1 {
	margin-right: 20px;
	font-size: 0.9em;
	font-weight: bold;
	user-select: none;
}

.search #list_search #list_search2 {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
	user-select: none;
}

.search #list_search #list_search3 select {
	border: 1px solid #999;
	font-weight: bold;
	padding: 1px 10px 5px 10px;
	margin-right: 5px;
	box-shadow: 1px 3px 3px #AAA;
	outline: none;
}

.search #list_search #list_search4 {
	margin-right: 5px;
}

.search #list_search #list_search4 input {
	border: 1px solid #999;
	padding: 4px 10px;
	box-shadow: 1px 3px 3px #AAA;
	outline: none;

}

.search #list_search #list_search5 input {
	border-radius: 5px;
	border: 2px solid black;
	cursor: pointer;
	font-weight: bold;
	padding: 2.5px 10px;
	background: white;
	color: #333;
}



.visual-list-title {
	background: #EFEFEF;
	text-align: center;
	border-top: 3px solid #999;
	font-weight: bold;
	padding: 8px 0;
	color: #666;
	font-size: 0.9em;
	user-select: none;
}

.table-list-item {
	border-bottom: 1px solid #999;
	padding: 5px 0;
	text-align: center;
	font-size: 0.9em;
}

.table-list-item .list-item-contents a:hover {
	font-weight: bold;
	text-decoration: underline;
}

#write_button {
	float: right;
	margin: 15px 0;
	font-weight: bold;

}

#write_button a {
	background: #000;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
}

.search br {
	display: none;
}

@media screen and (max-width: 768px) {
	.row [class*=grid] {
		float: left !important;
		margin-bottom: 0 !important;
	}

	.search br {
		display: block;
	}
}

@media screen and (max-width: 768px) and (min-width:768px) {

	.visual-list-title>.grid8 .grid1 {
		display: none;
	}

	.visual-list-title>.grid8 {
		width: 70% !important;
	}

	.visual-list-title>.grid4 .table-list-hit {
		display: none;
	}

	.visual-list-title>.grid4 {
		width: 30% !important;
	}

	.visual-list-title>.grid4 .grid4 {
		width: 50% !important;
	}

	.table-list-item .grid8 {
		width: 70% !important;
		padding: 10px 0;
	}

	.table-list-item .grid8 .grid1 {
		display: none;
	}

	.table-list-item>.grid4 {
		width: 30% !important;
		padding: 10px 0;
	}

	.table-list-item .grid4 .grid4 {
		width: 50%;
	}

	.table-list-item .grid4 .grid4:last-child {
		display: none;
	}

}

@media screen and (max-width: 767px) {

	.visual-list-title .grid1,
	.visual-list-title .grid4 .grid4:nth-child(2),
	.visual-list-title .grid4 .grid4:nth-child(3) {
		display: none;
	}

	.table-list-item .grid8 .grid1,
	.table-list-item .grid4 .grid4:nth-child(2),
	.table-list-item .grid4 .grid4:last-child {
		display: none;
	}

	.visual-list-title .grid8 {
		width: 70% !important;
		margin: 0 auto;
	}

	.visual-list-title>.grid4 {
		width: 30% !important;
	}

	.table-list-item>.grid8 {
		width: 70% !important;
	}

	.table-list-item>.grid4 {
		width: 30% !important;
	}

	.search #list_search #list_search4 input {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 320px) {
	.head-title h1 {
		margin: 50px 0;
	}
}