@charset "utf-8";
/* CSS Document */

/*12 grid 시스템 (넓이1080px-고정형)*/

#content {
	width:100%;
	max-width:1200px;

	margin:0 auto;
	/*background:url("../image/main_bg.jpg");*/
}
.wrap {
	width:100%;
	margin:0 auto;
	box-sizing:border-box;
	/* left top blur spread color */
}

/*grid를 담는 box역할 =>행(row)*/
.row {
	
	overflow:hidden;
	/*margin-left:10px;
	margin-right:10px;*/
	width:100%;
}

/*[속성=속성값]선택자 => [속성*=속성값] 속성중에 속성값이 포함되어 있는 모든 요소 선택 */

.row [class*=grid] {
	float:left;
	/*margin-left:2%;*/
	/*height:150px;*/
}

.grid1 {
	width:8.3333333333%;
	background:#090;
}
.grid2 {
	width:16.6666666666%;
	background:#F03;
}
.grid3 {
	width:24.9999999999%;
	background:#669;
}
.grid4 {
	width:33.3333333332%;
	background:#990;
}
.grid5 {
	width:41.6666666665%;
	background:#339;
}
.grid6 {
	width:49.9999999998%;
	background:#3C3;
}
.grid7 {
	width:58.3333333331%;
	background:#099;
}
.grid8 {
	width:66.6666666664%;
	background:#00C;
}
.grid9 {
	width:74.9999999997%;
	background:#F93;
}
.grid10 {
	width:83.3333333330%;
	background:#6C9;
}
.grid11 {
	width:91.6666666663%;
	background:#F66;
}
.grid12 {
	width:100%;
	background:#FF0;
}

@media screen and (max-width: 768px){
	#content {
	width:100%;
	min-width:100%;
	/*min-width:1080px;
	background:url("../image/main_bg.jpg");*/
}
	
	.wrap {
	width:96%;
	margin:0 2%;
	box-sizing:border-box;
	/*box-shadow:0px 4px 10px 0 rgba(0,0,0,0.2);*/
	/* left top blur spread color */
}
	
	.row [class*=grid] {
	float:none;
	width:100%;
	margin-bottom:10px;
	
	/*height:150px;*/
}
	.box {
		width:100%;
		
	}
		
	
	
	
	}