@charset "utf-8";
/* CSS Document */

.visual-content {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
}

.visual-content-wrap {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.row {

	overflow: hidden;
	width: 100%;
}

.row [class*=grid] {
	float: left;
}

.grid1 {
	width: 8.3333333333%;
}

.grid2 {
	width: 16.6666666666%;
}

.grid3 {
	width: 24.9999999999%;
}

.grid4 {
	width: 33.3333333332%;
}

.grid5 {
	width: 41.6666666665%;
}

.grid6 {
	width: 49.9999999998%;
}

.grid7 {
	width: 58.3333333331%;
}

.grid8 {
	width: 66.6666666664%;
}

.grid9 {
	width: 74.9999999997%;
}

.grid10 {
	width: 83.3333333330%;
}

.grid11 {
	width: 91.6666666663%;
}

.grid12 {
	width: 100%;
}

@media screen and (max-width: 768px) {
	#content {
		width: 100%;
		min-width: 100%;
	}

	.visual-content-wrap {
		width: 96%;
		margin: 0 2%;
		box-sizing: border-box;
	}

	.row [class*=grid] {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.box {
		width: 100%;
	}

}