@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900');
section
{
	margin-top:2%;
}
img
{
	border-radius: 13px;
}

#sec1
{
	max-height: 230px;
	margin:0;
	background:#dfe2cd;
}
	#sec1>#cont1
	{
		max-height: 230px;
	}
		#sec1>#cont1>img
		{
			width:100%
		}
	
	.insize
	{
		max-width:1230px;
		margin:0 auto;
		overflow: hidden;
	}
		#sec2>#cont2>.grid12
		{
			width:99.87%;
			height:480px;
			margin:0 auto;
		}
		/*grid4 와 grid8의 마진*/


		#sec2 p
		{
			font-weight: bold;
			color:#777;
			cursor: default;
			user-select: none;
		}
		#sec2 h1
		{
			font-size:1.8em;
			margin-bottom:10px;
			cursor: default;
			user-select: none;
			font-family: 'Noto Sans KR', sans-serif;
		}
		#sec2>#cont3>.grid12
		{
			width:99.87%;
			height:380px;
			margin:0 auto;
		}
			#sec2>#cont3>.grid12>.grid7 img
			{
				box-shadow:3px 3px 10px #BFBFBF;
			}




