section {
	height: 600px;
}

.visual-content form {
	position: relative;
	top: 175px;
}

.visual-content .login {
	width: 350px;
	margin: 0 auto;
	position: relative;
}

form .login_input {
	display: block;
	width: 93%;
	font-size: 1.3em;
	margin: 1% auto;
	padding: 2%;
	border: 1px solid black;
	border-radius: 5px;


}

form #login_btn input {
	display: block;
	margin: 0 auto;
	background: transparent;
	width: 97%;
	height: 80px;
	font-size: 1.3em;
	font-weight: 900;
	cursor: pointer;
	border-radius: 3px;
	border-color: transparent;
	transition: all 0.5s;
	background: black;
	border: 2px solid black;
	color: white;
	margin-top: 10px;
}

/*form>.content #login input:hover
		{
			background:transparent;
			transition:all 0.5s;
			color:black;
		}*/

#login_btn {
	text-align: center;
}

#login_btn>fieldset {
	border: 0.1px solid #CCC;
	width: 97%;
	margin: 10px auto;
	padding: 10px 0;
}

#login_btn>fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	user-select: none;
	margin: 0 auto;
}

#login_btn>fieldset strong {
	font-weight: bold;
	font-size: 0.8em;
	display: block;
	margin-top: 20px;
	user-select: none;
	color: #DB0000;
	padding: 5px 10px;
}


#login_btn div.g-signin2 {
	margin-top: 5px;
}

#login_btn div.g-signin2 .abcRioButton {
	margin: 0 auto;
}

#data_throwing {
	display: none;
}


#sub {
	margin-top: 20px;
}

#sub span {
	font-size: 0.9em;
	font-weight: bold;
}

#sub span:nth-child(2) {
	margin: 0 5%;
}


#caps-lock-warn

/*  caps_lock text부분  */
	{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	color: red;
	display: none;
	margin: 10px 0;
}



@media screen and (max-width:320px) {
	.login {
		width: 100%;
	}

	.visual-content form {
		top: 100px;
	}

	section {
		height: 500px;
	}

}