@charset "UTF-8";

.visual-section {
	margin: 0 auto;
}

.visual-section h1 {
	color: #666;
	font-size: 1.9em;
	margin: 80px 0;
	text-align: center;
}

.visual-section .visual-content {
	border-top: 1px solid #999;
	padding-top: 30px;
}

.visual-section .grid12>.row>.row {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #EFEFEF;
}

.visual-section .grid12>.row>.row:first-child {
	border: none;
}

.visual-section .grid12>.row>.row .contents-delete a {
	float: right;
	background: #DB0000;
	cursor: pointer;
	font-size: 0.9em;
	color: #FFF;
	font-weight: bold;
	padding: 10px 20px;
}

.visual-section .grid12 .grid3 {
	overflow: hidden;
	max-height: 240px;
	margin-left: 4%;
	border-radius: 10px;
	transition: 0.3s box-shadow;
}

.visual-section .grid12 .grid3 img {
	transition-duration: 0.3s;
	width: 100%;
}

.visual-section .grid12 .grid3:hover {
	box-shadow: 0px 0px 7px 3px #CFCFCF;
	transition: 0.3s box-shadow;
}

.visual-section .grid12 .grid3:hover img {
	transform: scale(1.05);
	transition-duration: 0.3s;

}


/*cont-writer*/
.visual-contents-writer label {
	font-size: 0.9em;
	font-weight: bold;
}

.visual-contents-writer>form>div {
	margin: 10px 0;
}

.visual-contents-writer .contents-image span {
	font-weight: bold;
	font-size: 0.8em;
	color: #AFAFAF;
}

.visual-contents-writer .contents-image span a {
	color: #DB0000;
}

.visual-contents-writer input[type="text"] {
	border: 1px solid #CFCFCF;
	padding: 5px;
}

.visual-contents-writer .contents-text label {
	display: block;
}

.visual-contents-writer .contents-text textarea {
	border: 1px solid #CFCFCF;
}

.visual-contents-writer .contents-btn button {
	background: #333;
	cursor: pointer;
	font-size: 0.9em;
	color: #FFF;
	font-weight: bold;
	padding: 10px 20px;
	border: 2px solid #222;
}

.visual-section .grid12 .grid8 h3 {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-bottom: 7%;
}

.visual-section .grid12 .grid8 p {
	padding: 5%;
	font-weight: 700;
}

/* ripple */
.ripple {
	margin-top: 20px;
	padding: 15px 0 25px 0;
	text-align: center;
}

.ripple:before,
.ripple:after {
	content: "";
	display: block;
	width: 20%;
	height: 1px;
	background: red;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;

}

.ripple:before {
	top: -20px;
}

.ripple:after {
	top: 20px;
}

.ripple>.row {
	width: 70%;
	margin: 0 auto;
}

.ripple .ripple-contents-1 {
	font-weight: bold;
}

.ripple .ripple-contents-2 .ripple-title {
	font-size: 0.9em;
	font-weight: bold;
}

.ripple .ripple-contents-2 .ripple-title span {
	font-weight: bold;
	font-size: 2em;
	line-height: 3px;
	display: inline-block;
	margin: 0 5px 0;
}

.ripple .ripple-contents-2 .ripple-title .ripple-delete a {
	color: #DB0000;
}

.ripple .ripple-contents-2 .ripple-comment {
	font-size: 0.9em;
	line-height: 30px;
	padding: 5px;
	margin: 15px auto;
	width: 50%;
	background-color: #FCFCFC;
	border: 2px solid #CFCFCF;
	border-radius: 3px;
}

.ripple .ripple-contents-2 .ripple-textarea {
	margin: 10px 0;
}

.ripple .ripple-contents-2 .ripple-textarea textarea {
	padding: 10px;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
}

.ripple .ripple-contents-2 .ripple-submit-btn input {
	background: #333;
	cursor: pointer;
	font-size: 1.1em;
	color: #FFF;
	font-weight: bold;
	padding: 10px 20px;
	border: 2px solid #222;

}

@media screen and (max-width: 768px) {
	.visual-section .grid12 .grid3 {
		border-radius: 0;
		margin: 0;
		max-height: 400px;
	}

	img {
		border-radius: 0;
	}

	.visual-section .grid12 .grid3:hover img {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) and (min-width:768px) {
	.visual-contents-writer form .contents-image input {
		width: 200px;
	}
}

@media screen and (max-width: 767px) {
	.visual-contents-writer form {
		display: none;
	}

	.visual-contents-writer:after {
		margin-left: 5%;
		content: "모바일에서는 업로드가 불가능합니다.";
		font-size: 0.9em;
		font-weight: bold;
	}
}

@media screen and (max-width: 414px) {
	.ripple .ripple-contents-2 .ripple-comment {
		width: inherit;
	}
}

@media screen and (max-width: 414px) and (min-width:376px) {
	.ripple .ripple-contents-2 .ripple-textarea textarea {
		width: 280px;
	}
}

@media screen and (max-width: 375px) and (min-width:360px) {
	.ripple .ripple-contents-2 .ripple-textarea textarea {
		width: 250px;
	}
}

@media screen and (max-width: 359px) {
	.ripple .ripple-contents-2 .ripple-textarea textarea {
		width: 220px;
	}
}